* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeeed;
}

.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*
 https://9elements.github.io/fancy-border-radius/#30.48.49.30--.
*/
.drop {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 62% 38% 65% 35% / 37% 44% 56% 63% ;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05),
    15px 25px 10px rgba(0, 0, 0, 0.1),
    15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9) ;
}
.drop::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 35px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 58% 42% 65% 35% / 49% 49% 51% 51% ;
}

.drop::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 60% 40% 65% 35% / 49% 48% 52% 51% ;
}

.drop:nth-child(2) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 43% 57% 53% 47% / 56% 53% 47% 44% ;
}

.drop:nth-child(3) {
    transform: scale(0.5) translate(200px, -200px);
    border-radius: 43% 57% 53% 47% / 56% 53% 47% 44% ;
}

.drop:nth-child(4) {
    transform: scale(0.35) translate(290px, 200px);
    border-radius: 43% 57% 53% 47% / 56% 53% 47% 44% ;
}